<h1>Scheduling Chart</h1>
<hr>
<h3 class="ml-2 mt-3">Shampoo Production Scheduling</h3>
<table>
    <caption>
        Scheduling
    </caption>
    <col>
    <col>
    <colgroup span="3"></colgroup>
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Operation</th>
            <th scope="col">Resource</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of taskScheduling">
            <td [attr.rowspan]="data.operationSpan" scope="rowgroup" *ngIf="data.operationSpan">{{data.taskId}}</td>
            <td scope="row">{{data.label}}</td>
            <td>{{data.resourceId}}</td>
            <td [attr.rowspan]="data.operationSpan" scope="rowgroup" *ngIf="data.operationSpan"> 
            <button (click)="addTaskToChart(data)">Add Task</button> &nbsp;
            <button (click)="removeTask(data)">Remove Task</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
<div class="scheduling-container" *ngIf="displayChart">
  <div><button (click)="submit()">Save</button></div> <br>
  <div>
    <gstc [config]="config" (onState)="onState($event)"></gstc>
  </div>
</div>
