/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .gantt-shedule-timeline-calendar__chart-gantt-items-row-item-content {
    padding: 0px 5px !important;
    border-radius: 14px;
  }
  h1 {
    font-size: 20px;
    line-height: 20px;
  }

  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    font-weight: 100;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 6px;
  }
  
  
  [data-title]:hover:after { 
    visibility: visible !important; 
} 
  
 [data-title]:after { 
    content: attr(data-title) !important; 
    background-color: #4b9c2c !important;     
    color: #ffffff !important; 
    font-size: 150% !important; 
    position: absolute !important; 
    padding: 4px 8px 4px 8px !important; 
    visibility: hidden; 
} 
